{% extends "base.html" %}
{% block content %}
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li><a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre"><a href="#"> Add new student</a>
            </li>
            <li class="page-back"><a href="show"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>Add New Promotion Informations</h4>
                        <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
                    </div>
                    <div class="tab-inn">
                        <form action ="" method="POST">
                            <div class="row">
                                <div class="input-field col s6">

                                </div>
                            </div>
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" class="btn btn-success" value ="Ajouter">
                        </form>
                    </div>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        {% if promo %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Promotion</th>
                                    <th>Filliere</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pro in promo  %}
                                <tr>
                                    <td>{{pro.id}}</td>
                                    <td>{{pro.nom_pro}}</td>
                                    <td>{{pro.filliere}}</td>
                                    <td>
                                        <a href="{% url 'updatedata_pro' pro.id %}" class"btn btn-warning btn-sm">Modifier</a>
                                        <form action="{% url 'deletedata_pro' pro.id %}" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger" value="Supprimer">
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                        {% else  %}
                        <h4 class="text-center alert alert-warning">0 enregistrement</h4>
                        {% endif %}
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</div>
{% endblock content %}